<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Powerscore on VRC Tracker</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="https://www.dropbox.com/scl/fi/jgpvl6s9otkgc6uqg5pmt/favicon.ico?rlkey=nb39qqv34ppoyk6k3b2qd1yl0&st=lgn1ldkn&raw=1">
    <style>
        body {
            font-family: 'Inter', sans-serif;
            background-color: #084d5a;
            color: #ffffff;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 108px;
        }
        title {
            font-family: 'Inter', sans-serif;
            background-color: #084d5a;
            color: #ffffff;
            margin: 0;
            padding: 0;
            display: flex;
            width: 1000px;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 108px;
            font-size: 30px;
            font-weight: 900;
        }
        img {
            width: 100%;
            height: 100%;
        }
        .total-parent-container {
            display: flex;
            flex-direction: column;
            height: 108px;
        }
        .input-parent-container {
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .input-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .input-container input {
            width: 500px;
            height: 20px;
            font-size: 16px;
            padding: 10px;
            border-radius: 5px 0 0 5px;
            border: 1px solid #ffffff;
            font-family: 'Inter', sans-serif;
            letter-spacing: -0.3px;
            text-align: center;
            background-color: #084d5a;
            color: #ffffff;
        }
        .input-container button {
            width: 42px;
            height: 42px;
            border: 1px solid #ffffff;
            border-left: none;
            background-color: #084d5a;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .input-container button i {
            color: #ffffff;
            font-size: 15px;
        }
        .gap {
            width: 10px;
            height: 30px;
            display: block;
        }
        .gap-2 {
            width: 10px;
            height: 10px;
            display: block;
        }
        a {
            text-decoration: none;
            color: white;
        }
        .banner {
            background-color: black;
            width: 100%;
            position: fixed; /* Keeps it at the top even when scrolling */
            top: 0;
            left: 0;
            font-weight: 500;
            letter-spacing: -1px;
            font-size: 30px;
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
        }
        .body-parent-container {
            display: flex;
            flex-direction: column;
            width: 1000px;
            height: 150px;
            border: 1px transparent;
            justify-content: center;
            align-self: center;
        }
        .body-container {
            display: flex;
            width: 600px;
            height: 150px;
            flex-direction: row;
            border: 1px solid #ffffff;
            border-radius: 5px;
            padding: 10px;
            justify-content: center;
            align-self: center;
            
        }
        .body-contained-1 {
            display: flex;
            border: 1px transparent #ffffff;
            border-radius: 5px;
            padding: 5px;
            align-self: center;
        }
        .dropdown {
            font-family: 'Inter', sans-serif;
            display: flex;
            color: #ffffff;
            border: 1px solid #ffffff;
            background-color: #084d5a;
            border-radius: 5px;
            padding: 5px;
            font-size: 20px;
        }
        .download-button {
            display: flex;
            width: 140px;
            font-size: 16px;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #ffffff;
            font-family: 'Inter', sans-serif;
            letter-spacing: -0.3px;
            text-align: center;
            background-color: #095d6a;
            color: #ffffff;
            justify-content: center;
            align-items: center;
            margin-left: 700px;
        }
        .container {
            display: flex;
            justify-content: space-between; /* This will push the form and button to opposite sides */
            align-items: center; /* Vertically center the items */
        }
    </style>
</head>
<body>
    <div class="banner"><a href="https://powerscore.vercel.app">VRC-Tracker</a></div>
    <div class="total-parent-container">
        <div class="gap">
            <div class="gap"></div>
        </div>
        <div class="imageOverlay">
        </div>
        <div class="gap">
            <div class="gap"></div>
        </div>
        <div class="gap">
            <div class="gap"></div>
        </div>
        <div class="input-parent-container">
            <div class="input-container">
                <form action="/competitions" method="GET" class="input-container">
                    <input type="text" name="query" placeholder="Enter a Competition SKU (ex: RE-VRC-XX-XXXX)">
                    <button type="submit" id="overlayButton">
                        <i id="overlayButton" class="fas fa-search"></i>
                    </button>
                    <input type="hidden" name="division" value="1">
                </form>
            </div>
        </div>
        <div class="gap">
            <div class="gap"></div>
        </div><title>2024 VEX Robotics World Championship - VEX Robotics Competition High School Event Powerscore</title><div class="gap">
            <div class="gap-2"></div>
        </div>
        <div class="gap-2"><div class="gap-2"></div></div>
        <div class="container"><form id="myForm" action="/competitions" method="GET">
    <input type="hidden" id="sku" name="query" value="RE-VRC-23-3690">
    <label for="division">Division</label>
<select name="division" id="divs" class="dropdown"><option value="1" selected>Opportunity</option>
            <option value="2">Research</option>
            <option value="3">Innovate</option>
            <option value="4">Spirit</option>
            <option value="5">Design</option>
            <option value="6">Math</option>
            <option value="7">Engineering</option>
            <option value="8">Technology</option>
            <option value="9">Science</option>
            <option value="10">Arts</option>
            <option value="11">High School</option>
            </select></form><script>
        const selectElement = document.getElementById('divs');
        const formElement = document.getElementById('myForm');

        selectElement.addEventListener('change', () => {
            formElement.submit();
        });
    </script><div class="gap">
            <div class="gap"></div>
        </div>
        <div class="download-button"><a href="data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64,{{ base64_data }}" download="2024 VEX Robotics World Championship - VEX Robotics Competition High School Event.xslx">Download XLSX</a></div>
        <div class="gap-2"><div class="gap-2"></div></div></div>
        
        <div class="body-container">
    <div class="body-contained-1"><b>1. 9123C</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 86.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 87.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 85.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>2. 8110V</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 80.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 78.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 71.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>3. 323V</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 79.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 78.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 85.2</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>4. 117B</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 78.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 76.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 79.6</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>5. 70291D</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 77.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 69.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 72.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>6. 2654P</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 77.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 75.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 77.8</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>7. 1010W</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 77.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 80.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 76.5</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>8. 1064B</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 73.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 76.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 69.4</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>9. 3135B</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 72.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 70.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 69.8</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>10. 55286A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 72.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 80.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 73.1</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>11. 4082B</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 72.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 72.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 69.3</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>12. 2496J</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 69.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 72.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 65.3</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>13. 5155E</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 68.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 68.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 56.1</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>14. 2011F</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 68.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 75.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 69.8</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>15. 871X</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 67.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 64.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 71.9</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>16. 51581E</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 67.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 65.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 62.3</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>17. 39313Z</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 67.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 74.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 67.4</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>18. 12X</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 66.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 74.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 68.8</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>19. 15442C</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 65.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 59.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 63.9</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>20. 96504E</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 64.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 60.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 60.5</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>21. 62880A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 64.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 66.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 58.5</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>22. 1669X</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 60.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 58.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 62.3</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>23. 74947K</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 60.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 64.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 58.7</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>24. 7110H</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 58.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 60.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 61.4</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>25. 355U</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 58.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 57.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 61.8</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>26. 17022A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 57.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 58.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 56.7</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>27. 20541B</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 56.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 59.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 55.9</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>28. 10478K</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 55.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 62.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 49.3</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>29. 7996D</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 54.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 58.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 56.2</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>30. 6627S</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 54.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 52.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 48.9</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>31. 2105A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 54.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 62.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 51.1</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>32. 1158X</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 53.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 49.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 55.2</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>33. 295R</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 52.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 43.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 48.9</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>34. 4886W</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 52.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 45.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 53.8</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>35. 32174C</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 52.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 59.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 60.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>36. 8787A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 52.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 51.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 48.6</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>37. 1353M</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 51.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 61.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 55.3</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>38. 89227A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 50.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 34.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 41.5</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>39. 71909Z</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 50.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 40.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 43.1</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>40. 77275B</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 49.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 57.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 51.2</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>41. 945C</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 49.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 61.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 63.6</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>42. 34690A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 49.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 42.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 52.2</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>43. 99751F</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 49.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 28.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 54.6</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>44. 13974A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 49.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 36.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 37.9</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>45. 64040C</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 49.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 59.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 46.7</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>46. 3457C</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 48.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 45.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 51.1</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>47. 56H</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 48.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 51.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 46.4</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>48. 11495E</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 47.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 40.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 46.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>49. 7882B</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 43.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 41.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 47.6</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>50. 94517X</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 43.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 49.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 50.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>51. 59200X</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 43.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 37.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 38.2</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>52. 24842T</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 42.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 39.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 41.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>53. 81218C</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 42.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 57.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 46.6</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>54. 77353N</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 41.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 39.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 43.8</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>55. 242W</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 41.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 22.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 35.8</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>56. 84260C</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 41.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 33.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 37.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>57. 603B</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 41.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 52.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 39.7</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>58. 7282K</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 40.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 40.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 43.6</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>59. 502X</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 40.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 43.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 38.7</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>60. 7580Z</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 40.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 34.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 44.8</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>61. 97834C</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 40.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 52.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 39.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>62. 2158Z</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 38.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 47.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 34.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>63. 9328Z</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 37.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 37.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 41.6</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>64. 2915X</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 34.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 29.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 29.7</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>65. 9727A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 34.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 32.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 35.2</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>66. 1764X</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 34.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 27.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 34.3</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>67. 29760E</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 34.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 44.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 39.2</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>68. 6104G</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 32.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 32.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 37.6</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>69. 4405W</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 32.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 25.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 31.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>70. 18687A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 32.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 40.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 25.2</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>71. 5735H</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 32.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 34.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 38.4</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>72. 19800A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 30.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 42.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 38.5</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>73. 8892A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 30.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 40.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 30.7</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>74. 45250J</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 30.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 39.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 35.8</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>75. 675D</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 29.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 34.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 31.4</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>76. 43146C</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 29.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 22.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 31.3</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>77. 79267V</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 25.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 29.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 31.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>78. 48321H</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 22.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 17.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 24.7</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>79. 3249V</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 21.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 19.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 21.7</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>80. 3773W</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 18.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 26.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 19.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>81. 99040S</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 18.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 20.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 13.6</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>82. 66800K</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 9.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 7.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 7.1</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
    </div>
</body>
</html>