<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name}} On VRC Tracker</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            font-family: 'Inter', sans-serif;
            background-color: #084d5a;
            color: #ffffff;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 108px;
        }
        title {
            font-family: 'Inter', sans-serif;
            background-color: #084d5a;
            color: #ffffff;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 108px;
            font-size: 30px;
            font-weight: 900;
        }
        img {
            width: 100%;
            height: 100%;
        }
        .total-parent-container {
            display: flex;
            flex-direction: column;
            height: 108px;
        }
        .input-parent-container {
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .input-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .input-container input {
            width: 500px;
            height: 20px;
            font-size: 16px;
            padding: 10px;
            border-radius: 5px 0 0 5px;
            border: 1px solid #ffffff;
            font-family: 'Inter', sans-serif;
            letter-spacing: -0.3px;
            text-align: center;
            background-color: #084d5a;
            color: #ffffff;
        }
        .input-container button {
            width: 42px;
            height: 42px;
            border: 1px solid #ffffff;
            border-left: none;
            background-color: #084d5a;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .input-container button i {
            color: #ffffff;
            font-size: 15px;
        }
        .gap {
            width: 10px;
            height: 30px;
            display: block;
        }
        .gap-2 {
            width: 10px;
            height: 10px;
            display: block;
        }
        a {
            text-decoration: none;
            color: white;
        }
        .banner {
            background-color: black;
            width: 100%;
            position: fixed; /* Keeps it at the top even when scrolling */
            top: 0;
            left: 0;
            font-weight: 500;
            letter-spacing: -1px;
            font-size: 30px;
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
        }
        .body-parent-container {
            display: flex;
            flex-direction: column;
            width: 1000px;
            height: 150px;
            border: 1px transparent;
            justify-content: center;
            align-self: center;
        }
        .body-container {
            display: flex;
            width: 600px;
            height: 150px;
            flex-direction: row;
            border: 1px solid #ffffff;
            border-radius: 5px;
            padding: 10px;
            justify-content: center;
            align-self: center;
            
        }
        .body-contained-1 {
            display: flex;
            border: 1px transparent #ffffff;
            border-radius: 5px;
            padding: 5px;
            align-self: center;
        }
        .dropdown {
            font-family: 'Inter', sans-serif;
            display: flex;
            color: #ffffff;
            border: 1px solid #ffffff;
            background-color: #084d5a;
            border-radius: 5px;
            padding: 5px;
            font-size: 20px;
            align-self: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="banner"><a href="http://localhost:5000">VRC-Tracker</a></div>
    <div class="total-parent-container">
        <div class="gap">
            <div class="gap"></div>
        </div>
        <div class="imageOverlay">
        </div>
        <div class="gap">
            <div class="gap"></div>
        </div>
        <div class="gap">
            <div class="gap"></div>
        </div>
        <div class="input-parent-container">
            <div class="input-container">
                <form action="/competitions" method="GET" class="input-container">
                    <input type="text" name="query" placeholder="Enter a Competition SKU (ex: RE-VRC-XX-XXXX)">
                    <button type="submit" id="overlayButton">
                        <i id="overlayButton" class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="gap">
            <div class="gap"></div>
        </div><title>2024 VEX Robotics World Championship - VEX Robotics Competition High School Event</title><title> Powerscore</title><div class="gap">
            <div class="gap-2"></div>
        </div>
        <div class="gap-2"><div class="gap-2"></div></div>
        <form id="myForm" action="/competitions" method="GET">
    <input type="hidden" id="sku" name="query" value="RE-VRC-23-3690">
    <label for="division">Division</label>
<select name="division" id="divs" class="dropdown"><option value="1">Opportunity</option>
            <option value="2">Research</option>
            <option value="3">Innovate</option>
            <option value="4">Spirit</option>
            <option value="5">Design</option>
            <option value="6">Math</option>
            <option value="7" selected>Engineering</option>
            <option value="8">Technology</option>
            <option value="9">Science</option>
            <option value="10">Arts</option>
            <option value="11">High School</option>
            </select></form><script>
        const selectElement = document.getElementById('divs');
        const formElement = document.getElementById('myForm');

        selectElement.addEventListener('change', () => {
            formElement.submit();
        });
    </script><div class="gap">
            <div class="gap"></div>
        </div>
        
        <div class="body-container">
    <div class="body-contained-1"><b>1. 81988E</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 86.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 88.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 88.6</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>2. 81Z</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 77.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 79.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 77.1</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>3. 7925S</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 77.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 72.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 77.8</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>4. 77787B</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 77.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 76.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 77.2</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>5. 80508X</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 74.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 78.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 79.6</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>6. 96789Z</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 74.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 71.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 75.3</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>7. 1357X</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 73.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 67.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 73.9</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>8. 21417A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 71.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 78.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 72.2</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>9. 5408D</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 68.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 72.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 69.9</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>10. 2029C</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 66.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 66.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 63.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>11. 3796F</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 65.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 73.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 67.5</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>12. 1228S</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 65.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 75.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 73.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>13. 1082R</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 65.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 66.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 62.5</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>14. 98225J</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 65.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 57.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 64.1</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>15. 95111V</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 64.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 61.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 59.8</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>16. 6210M</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 64.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 55.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 59.6</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>17. 9909W</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 61.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 67.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 62.8</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>18. 5956B</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 61.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 62.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 54.2</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>19. 44252A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 61.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 53.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 63.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>20. 11101W</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 61.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 51.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 52.2</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>21. 6842K</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 61.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 67.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 62.7</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>22. 2131V</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 59.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 54.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 55.9</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>23. 334U</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 59.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 64.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 58.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>24. 70700X</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 59.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 61.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 60.4</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>25. 1028A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 59.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 66.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 57.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>26. 727R</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 59.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 58.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 61.3</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>27. 36070M</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 57.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 49.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 60.6</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>28. 87867D</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 57.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 54.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 56.6</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>29. 392X</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 57.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 64.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 59.4</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>30. 2719F</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 55.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 53.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 59.9</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>31. 50105X</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 55.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 42.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 50.4</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>32. 4154E</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 55.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 46.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 60.4</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>33. 1727K</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 54.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 53.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 52.4</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>34. 7316V</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 54.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 58.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 50.9</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>35. 30204D</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 54.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 38.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 43.9</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>36. 8825S</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 54.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 65.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 55.8</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>37. 99904W</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 53.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 51.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 55.5</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>38. 16099B</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 52.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 46.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 51.7</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>39. 8047F</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 51.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 64.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 53.2</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>40. 3142Y</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 51.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 57.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 48.7</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>41. 33344C</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 50.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 44.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 55.9</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>42. 3017D</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 50.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 40.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 50.4</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>43. 26275A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 50.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 52.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 47.2</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>44. 74074Y</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 50.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 57.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 51.4</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>45. 210F</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 50.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 50.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 42.8</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>46. 39Y</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 49.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 44.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 51.1</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>47. 1893C</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 49.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 41.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 49.6</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>48. 18891A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 49.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 51.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 56.2</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>49. 9364E</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 49.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 44.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 50.3</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>50. 14895B</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 47.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 56.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 54.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>51. 63303V</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 46.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 42.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 44.1</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>52. 8481S</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 46.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 44.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 43.6</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>53. 41103A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 45.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 40.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 57.1</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>54. 9039J</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 45.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 44.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 44.2</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>55. 9142W</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 42.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 42.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 38.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>56. 3708E</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 41.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 38.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 44.2</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>57. 315D</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 41.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 35.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 37.6</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>58. 255D</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 40.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 44.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 42.3</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>59. 4478Y</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 40.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 37.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 37.7</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>60. 65280A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 40.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 34.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 40.5</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>61. 57249B</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 39.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 45.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 39.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>62. 2323G</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 39.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 40.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 42.7</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>63. 10K</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 38.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 41.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 36.9</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>64. 91917B</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 38.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 36.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 38.3</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>65. 53171D</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 38.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 43.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 42.5</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>66. 3333W</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 37.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 36.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 40.6</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>67. 654B</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 37.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 37.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 38.8</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>68. 2501S</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 37.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 29.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 27.7</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>69. 7157P</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 37.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 33.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 38.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>70. 20027W</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 36.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 40.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 34.5</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>71. 66994W</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 35.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 32.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 35.7</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>72. 60924A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 35.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 34.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 34.9</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>73. 7842F</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 34.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 37.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 37.9</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>74. 538K</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 31.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 27.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 38.6</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>75. 986A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 30.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 29.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 30.9</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>76. 5062S</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 22.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 21.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 23.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>77. 901A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 21.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 19.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 31.7</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>78. 17711E</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 20.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 23.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 23.3</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>79. 45525C</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 18.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 29.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 20.2</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>80. 99153A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 17.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 18.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 15.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>81. 13176A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 13.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 15.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 17.6</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>82. 75503A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 9.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 8.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 15.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
    </div>
</body>
</html>