<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name}} On VRC Tracker</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            font-family: 'Inter', sans-serif;
            background-color: #084d5a;
            color: #ffffff;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 108px;
        }
        title {
            font-family: 'Inter', sans-serif;
            background-color: #084d5a;
            color: #ffffff;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 108px;
            font-size: 30px;
            font-weight: 900;
        }
        img {
            width: 100%;
            height: 100%;
        }
        .total-parent-container {
            display: flex;
            flex-direction: column;
            height: 108px;
        }
        .input-parent-container {
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .input-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .input-container input {
            width: 500px;
            height: 20px;
            font-size: 16px;
            padding: 10px;
            border-radius: 5px 0 0 5px;
            border: 1px solid #ffffff;
            font-family: 'Inter', sans-serif;
            letter-spacing: -0.3px;
            text-align: center;
            background-color: #084d5a;
            color: #ffffff;
        }
        .input-container button {
            width: 42px;
            height: 42px;
            border: 1px solid #ffffff;
            border-left: none;
            background-color: #084d5a;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .input-container button i {
            color: #ffffff;
            font-size: 15px;
        }
        .gap {
            width: 10px;
            height: 30px;
            display: block;
        }
        .gap-2 {
            width: 10px;
            height: 10px;
            display: block;
        }
        a {
            text-decoration: none;
            color: white;
        }
        .banner {
            background-color: black;
            width: 100%;
            position: fixed; /* Keeps it at the top even when scrolling */
            top: 0;
            left: 0;
            font-weight: 500;
            letter-spacing: -1px;
            font-size: 30px;
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
        }
        .body-parent-container {
            display: flex;
            flex-direction: column;
            width: 1000px;
            height: 150px;
            border: 1px transparent;
            justify-content: center;
            align-self: center;
        }
        .body-container {
            display: flex;
            width: 600px;
            height: 150px;
            flex-direction: row;
            border: 1px solid #ffffff;
            border-radius: 5px;
            padding: 10px;
            justify-content: center;
            align-self: center;
            
        }
        .body-contained-1 {
            display: flex;
            border: 1px transparent #ffffff;
            border-radius: 5px;
            padding: 5px;
            align-self: center;
        }
    </style>
</head>
<body>
    <div class="banner"><a href="http://localhost:5000">VRC-Tracker</a></div>
    <div class="total-parent-container">
        <div class="gap">
            <div class="gap"></div>
        </div>
        <div class="imageOverlay">
        </div>
        <div class="gap">
            <div class="gap"></div>
        </div>
        <div class="gap">
            <div class="gap"></div>
        </div>
        <div class="input-parent-container">
            <div class="input-container">
                <form action="/competitions" method="GET" class="input-container">
                    <input type="text" name="query" placeholder="Enter a Competition SKU (ex: RE-VRC-XX-XXXX)">
                    <button type="submit" id="overlayButton">
                        <i id="overlayButton" class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="gap">
            <div class="gap"></div>
        </div><title>North Andover High School VRC Over Under - High School Qualifier</title><title> Powerscore</title><div class="gap">
            <div class="gap-2"></div>
        </div>
        <div class="gap-2"><div class="gap-2"></div></div>
        
        <div class="body-container">
    <div class="body-contained-1"><b>1. 20203Z</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 83.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 78.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 84.9</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>2. 871X</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 81.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 82.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 90.4</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>3. 9228C</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 79.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 80.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 80.1</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>4. 1898R</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 77.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 79.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 77.2</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>5. 8568A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 77.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 88.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 80.6</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>6. 43440X</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 76.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 66.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 83.1</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>7. 4716B</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 70.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 61.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 67.4</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>8. 9228B</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 70.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 77.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 78.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>9. 785B</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 69.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 44.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 53.9</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>10. 83149B</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 65.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 65.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 73.4</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>11. 697B</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 63.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 59.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 63.6</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>12. 30049C</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 62.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 53.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 57.6</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>13. 99928E</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 59.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 47.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 48.8</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>14. 33711C</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 57.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 62.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 58.5</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>15. 99928A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 57.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 62.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 60.7</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>16. 8568C</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 56.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 70.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 67.8</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>17. 8568S</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 55.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 45.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 55.3</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>18. 30906A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 55.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 54.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 57.1</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>19. 9228A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 52.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 56.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 52.1</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>20. 785W</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 50.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 42.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 45.7</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>21. 83149C</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 50.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 58.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 53.8</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>22. 8568J</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 50.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 54.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 59.9</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>23. 99928B</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 50.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 40.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 38.7</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>24. 58566C</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 49.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 57.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 56.2</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>25. 83149D</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 49.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 38.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 45.8</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>26. 8568G</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 49.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 50.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 57.1</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>27. 8568B</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 49.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 58.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 60.5</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>28. 4716A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 48.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 47.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 36.1</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>29. 58566B</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 48.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 51.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 47.4</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>30. 697A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 48.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 32.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 51.2</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>31. 99928F</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 48.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 42.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 49.7</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>32. 2621B</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 47.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 52.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 40.7</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>33. 2079C</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 44.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 52.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 42.7</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>34. 33711B</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 44.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 43.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 45.1</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>35. 2079A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 43.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 47.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 49.7</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>36. 2079B</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 41.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 34.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 33.8</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>37. 8568M</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 40.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 33.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 36.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>38. 8568E</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 40.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 50.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 44.1</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>39. 785Z</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 39.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 41.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 31.6</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>40. 2621A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 38.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 37.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 35.2</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>41. 1898S</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 38.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 31.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 35.1</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>42. 58566A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 38.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 47.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 41.9</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>43. 8568D</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 35.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 34.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 33.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>44. 83149A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 34.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 29.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 24.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>45. 30049A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 31.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 28.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 29.7</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>46. 65115A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 30.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 36.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 27.7</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>47. 4716C</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 30.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 35.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 40.8</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>48. 8568F</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 29.9</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 50.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 33.5</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>49. 33711A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 27.8</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 14.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 25.3</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>50. 98792X</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 26.1</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 34.2</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 34.2</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>51. 785A</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 24.5</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 21.6</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 17.0</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>52. 99928D</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 22.4</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 46.3</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 26.2</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
        <div class="body-container">
    <div class="body-contained-1"><b>53. 30049B</b></div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Powerscore: 21.0</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Offensive PS: 23.7</div>
    <div class="gap">
        <div class="gap"></div>
    </div>
    <div class="body-contained-1">Defensive PS: 17.8</div>
</div>
    <div class="gap-2">
        <div class="gap-2"></div>
    </div>
    </div>
</body>
</html>