/*-------------------DEFAULT THINGS----------------------*/
title {
    font-family: 'Inter', sans-serif;
    background-color: #084d5a;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
}
body {
    font-family: 'Inter', sans-serif;
    background-color: #084d5a;
    color: #ffffff;
    margin: 0;
    padding: 0;
}
hr {
    width: 300px;
}
a {
    text-decoration: none;
    color: white;
}





/*--------------------GENERAL STYLES--------------------*/
.big-title {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    width: 2000px;
}
.title {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    width: 330px;
}
.title2 {
    font-family: 'Teko', sans-serif;
    background-color: #084d5a;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
}
.title3 {
    font-family: 'Inter', sans-serif;
    background-color: #084d5a;
    color: #7dc6d4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 26px;
    font-weight: 900;
}
.body {
    font-family: 'Inter', sans-serif;
    border: 0px transparent;
    color: #a8d7e0;
    background-color: #0e6172;
    font-size: 12px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 0 5px 0;
    font-weight: 700;
}
.body2 {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
}
.body3 {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    padding: 0 26px 10px 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0px;
    font-weight: 400;
}
.gap {
    width: 70px;
    height: 70px;
    display: block;
}
.gap-2 {
    width: 30px;
    height: 30px;
    display: block;
}
.v-gap {
    width: 7px;
    height: 7px;
    display: block;
}
.v-gap-2 {
    width: 7px;
    height: 7px;
    display: block;
}
.big-gap {
    width: 70px;
    height: 68px;
    display: block;
}
.bigger-gap {
    width: 70px;
    height: 10px;
    display: block;
}





/*-------------------PARENT CONTAINERS--------------------*/
.total-parent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-parent-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.input-parent-container2 {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.left-content-parent-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.right-content-parent-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.top-bar-parent-container {
    width: 300px;
    height: 100px;
    display: block;
}
.body-parent-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px transparent;
}
.body2-parent-container {
    display: flex;
    width: 300px;
    border-radius: 10px;
    flex-direction: column;
}
.search-bars-parent-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}





/*--------------------OTHER----------------------*/
.input-container {
    display: flex;
    justify-content: center;
}
.input-container2 {
    display: flex;
    justify-content: center;
}
.input-container3 {
    display: flex;
    justify-content: center;
}
.input-container input {
    width: 280px;
    height: 15px;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ffffff;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.3px;
    text-align: center;
    background-color: #084d5a;
    color: #ffffff;
}
.input-container2 input {
    width: 280px;
    height: 15px;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ffffff;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.3px;
    text-align: center;
    background-color: #084d5a;
    color: #ffffff;
}
.input-container3 input {
    width: 280px;
    height: 15px;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ffffff;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.3px;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
}
.input-container button {
    width: 37px;
    height: 37px;
    border: 1px solid #ffffff;
    border-left: none;
    background-color: #084d5a;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-container button i {
    color: #ffffff;
    font-size: 15px;
}
.banner {
    background-color: black;
    width: 100%;
    position: fixed; /* Keeps it at the top even when scrolling */
    top: 0;
    left: 0;
    font-weight: 500;
    letter-spacing: -1px;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.banner2 {
    background-color: #23212b;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    width: 470px;
    background-size: cover;
    background-position: center center;
    background-image: url("https://www.dropbox.com/scl/fi/peqq4w3n1rzsmtul2kdvu/BannerSmall.jpg?rlkey=q1gz8ytrnayimgfofqfcghj42&st=0tovckvh&raw=1");
}
.home-button {
    background-color: black;
    position: fixed; /* Keeps it at the top even when scrolling */
    top: 22px;
    left: 22px;
    justify-content: left;
    font-weight: 500;
    font-size: 15px;
    padding: 5px 8px 5px 8px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
.top-bar-container {
    font-size: 70px;
    text-align: right;
    font-family: 'Teko', sans-serif;
    color: #ffffff;
    background-color: #0e6172;
    display: flex;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: -10px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    justify-content: right;
}
.body-container {
    display: flex;
    width: 300px;
    border: 1px transparent;
    flex-direction: row;
    justify-content: center;
}
.body2-container {
    display: flex;
    width: 300px;
    height: 250px;
    flex-direction: column;
    border-radius: 10px;
}
.compact-container {
    display: flex;
    width: 600px;
    height: 150px;
    flex-direction: row;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    justify-content: center;
    align-self: center;
}
.imageOverlay {
    position: fixed;
    margin-top: 100px;
    align-items: center;

    height: 720px;
    background-position: center;
    background-color: #084d5a;
    background-image: none;
    display: none;
}