/*----------------INFO FOR COMPETITION PAGES-----------------*/
.body-container-top {
    display: flex;
    width: 500px;
    flex-direction: row;
    border: 1px transparent #ffffff;
    background-color: #095d6a;
    border-radius: 9px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.body-container1 {
    display: flex;
    width: 500px;
    flex-direction: row;
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.body-container2 {
    display: flex;
    width: 1000px;
    flex-direction: row;
    border: 1px transparent #ffffff;
    border-radius: 5px;
    padding: 10px;
    justify-content: space-between;
    align-items: last baseline;
}
.body-contained-1 {
    display: flex;
    border: 1px transparent #ffffff;
    border-radius: 5px;
    padding: 5px;
    align-self: center;
    font-size: 16px;
    width: 95px;
}
.body-contained-2 {
    display: flex;
    border: 1px transparent #ffffff;
    border-radius: 5px;
    padding: 5px 5px 5px 45px;
    align-self: center;
    font-size: 16px;
    width: 130px;
}
.body-contained-3 {
    display: flex;
    border: 1px transparent #ffffff;
    border-radius: 5px;
    padding: 5px;
    align-self: center;
    font-size: 16px;
    width: 65px;
}
.body-contained-4 {
    display: flex;
    border: 1px transparent #ffffff;
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
    align-self: center;
    font-size: 16px;
    width: 35px;
}
.body-contained-5 {
    display: flex;
    border: 1px transparent #ffffff;
    border-radius: 5px;
    padding: 5px 26px 5px 20px;
    align-self: center;
    font-size: 16px;
}
.download-button {
    display: flex;
    width: 140px;
    height: 22px;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.3px;
    text-align: center;
    background-color: #095d6a;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}
.download-text {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.3px;
    color: #ffffff;
    border: 0px transparent;
    background-color: #095d6a;
    cursor: pointer;
}
.kudos-button {
    display: flex;
    justify-self: left;
    height: 22px;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.3px;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    justify-content: center;
    align-items: center;
}
.kudos-button:hover {
    background-color: #dbdbdb;
}
.kudos-text {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.3px;
    color: #000000;
    border: 0px transparent;
    background: transparent;
    cursor: pointer;
}
.star {
    display: flex;
    justify-self: left;
    font-size: 16px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.3px;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.star:hover {
    background-color: #dbdbdb;
}
.gold {
    color: #ffbb00
}
.functions-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 0px transparent #000000;
    padding-left: 5px;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
label {
    font-size: 16px;
    justify-self: left;
}