/*---------------------DASHBOARD----------------------*/
.dashboard-title {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: #ffffff;
    display: flex;
    padding: 10px;
    border-radius: 5px;
    font-family: "Teko";
    font-weight: 600;
}
.dashboard {
    text-align: right;
    color: #ffffff;
    background-color: #0e6172;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ffffff3f;
    justify-content: space-between;
    flex-direction: row;
}
.dashboard-left {
    flex-direction: column;
    text-align: left;
}
.dashboard-left-link {
    background: transparent;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    background-color: #228194;
    color:#96d3df;
    border: 0px transparent;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 5px;
}
.dashboard-left-text-title {
    font-family: "Inter";
    font-size: 20px;
    text-align: left;
    color:#ffffff;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    font-weight: 600;
    border: 0px transparent;
}
.dashboard-left-text-body {
    font-family: "Inter";
    font-size: 14px;
    text-align: left;
    color:#6abaca;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 400;
    margin: 7px 0px;
}
.dashboard-right {
    font-family: "Inter";
    font-size: 20px;
    text-align: right;
    color:#ffffff;
}
.dashboard-right-text-title {
    font-family: "Teko";
    font-size: 45px;
    text-align: right;
    color:#ffffff;
    flex-direction: column;
    font-weight: 600;
    padding-right: 4px;
    padding-left: 6px;
}