/*--------------RANKS STUFF---------------*/
.rank-types {
    font-family: 'Teko', sans-serif;
    border: 0px transparent;
    color: #7cbcc9;
    font-size: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 5px;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Teko";
    font-size: 17px;
    font-weight: 700;
    width: 100px;
    padding: 0 10px 40px 10px;
}
.regular {
    width: 100px;
}

.enlarge {
    width: 120px;
}

.enlarge-2 {
    width: 140px;
}

.enlarge-3 {
    width: 200px;
}